:root {

  --white-color: #ffffff;
  
}


body{
  font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0;


   
  
}

.banner{
  background-color: black;
  color: white;
display: flex;
  align-items: center;
  justify-content: center
}



 
a{
text-decoration: none;
color: black;
}

ul{
list-style-type: none;
padding: 0;
margin: 0;
 
}



/*header*/


.link-menu{
  padding: 20px 10px;
display: flex;
  justify-content: center;
  gap: 30px;
  background-color: gray;
}



.link{
  border: 1px solid;
padding: 5px 15px;
border-radius: 8px;
}

.link:hover {
  transition: 0.3s;
border-color: rgb(255, 0, 0);
}


.link-end{
  color: rgb(160, 160, 160);
}

.link-return {
  text-decoration: underline;
}


.link-return:hover{
    transition: 0.3s;
    text-decoration: underline;
      color: red;
}


/*header*/


/*main*/
.home{

  height: 1000px;
 background-image: url("./img/background.jpg");
 background-size: cover;

  display: flex;
    justify-content: center;
    align-items: center;
}


.home-releases {



  display: flex;
  justify-content: center;

}


 .title {
   margin: 0;
  font-size: 90px;
      color: var(--white-color);
 }

.title:hover{
  color: red;
}





/*main*/


/*releases*/

.list-releases{
  padding-top: 20px;
}


.name{
  color: rgb(0, 0, 0);
  text-align: center;
}

.img-cover{
  border-radius: 10px;
  margin: auto;
    display: block;
}


/*releases*/
/*footer*/

.footer-container{
  background-color: gray;

}

.footer-menu{
display: flex;
  justify-content: center;
    gap: 30px;
    padding: 20px 10px;
    }



.social-list{
  display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px 10px;
}


.footer-logo {
transition: 1.05s;


}

.footer-logo:hover {
 scale: 1.14;
transition: 1.05s;
color: red;


}


.copyright{
    display: flex;
      justify-content: center;
      padding: 20px 10px;
      font-size: 16px;
}

/*footer*/


