:root {

  --white-color: #ffffff;
  
}


body{
  font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0;


   
  
}

.banner{
  background-color: black;
  color: white;
display: flex;
  align-items: center;
  justify-content: center
}



 
a{
text-decoration: none;
color: black;
}

ul{
list-style-type: none;
padding: 0;
margin: 0;
 
}



/*header*/

.link-menu{
  padding: 20px 10px;
display: flex;
  justify-content: center;
  gap: 30px;
}

.link:hover{
    transition: 0.3s;

    color: red;
}


.link-end{
  color: rgb(160, 160, 160);
}

.link-return {
  text-decoration: underline;
}


.link-return:hover{
    transition: 0.3s;
    text-decoration: underline;
      color: red;
}


/*header*/


/*main*/
main{
  height: 1000px;
 background-image: url("./img/background.jpg");
 background-size: cover;

  display: flex;
    justify-content: center;
    align-items: center;
}


.main-contact{
    height: 1000px;
      background-image: url("./img/background.jpg");
      background-size: cover;
    
      display: flex;
      justify-content: center;
      align-items: center;
}


 .title {
   margin: 0;
  font-size: 90px;
      color: var(--white-color);
 }

.title:hover{
  color: red;
}

/*main*/


/*footer*/

.footer-container{
  background-color: gray;

}

.footer-menu{
display: flex;
  justify-content: center;
    gap: 30px;
    padding: 20px 10px;
    }



.social-list{
  display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px 10px;
}


.footer-logo {
transition: 1.05s;


}

.footer-logo:hover {
 scale: 1.14;
transition: 1.05s;
color: red;


}


.copyright{
    display: flex;
      justify-content: center;
      padding: 20px 10px;
      font-size: 16px;
}

/*footer*/


.test
{

    color: green;
 
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: type 5s steps(50, end);
    animation: type 5s steps(50, end);
  }

  @keyframes type {
    from {
      width: 0;
    }
  }

  @-webkit-keyframes type {
    from {
      width: 0;
    }
  }