:root {

  --white-color: #ffffff;
  
}


body{
  font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0;


   
  
}

.banner{
  background-color: black;
  color: white;
display: flex;
  align-items: center;
  justify-content: center
}



 
a{
text-decoration: none;
color: black;
}

ul{
list-style-type: none;
padding: 0;
margin: 0;
 
}



/*header*/


.link-menu{
  padding: 20px 10px;
display: flex;
  justify-content: center;
  gap: 30px;
  background-color: rgb(255, 255, 255);
}



.link{
  border: 1px solid;
padding: 8px 16px;
border-radius: 8px;
transition: 1.05s;
}

.link:hover {
  transition: 1.05s;

background-color: rgb(255, 0, 0);
}


.link-end{
  color: rgb(160, 160, 160);
}

.link-return {
  text-decoration: underline;
  transition: 1.05s;
}


.link-return:hover{
    transition: 1.05s;
    text-decoration: underline;
      color: red;
      
}


/*header*/


/*main*/
.home{

  height: 600px;
 background-image: url("./img/background.jpg");
 background-size: cover;

  display: flex;
    justify-content: center;
    align-items: center;
}


.home-releases {
background-color: black;
  display: flex;
  justify-content: center;


}


 .title {
   margin: 0;
  font-size: 90px;
      color: var(--white-color);
      transition: 1.05s;
 }

.title:hover{
  color: red;
  transition: 1.05s;
}





/*main*/


/*releases*/

.releases{
    
  width: 360px;
}
 


.list-releases{
  padding-top: 20px;
  padding-bottom: 20px;
 border: 2px solid rgb(255, 255, 255);
 border-radius: 20px;
margin: 20px 20px;
transition: 1s;


}

.list-releases:hover {
  transform: scale(1.02);
  transition: 1s;
  border: 2px solid rgb(255, 0, 0);
}

.name{
  color: rgb(255, 255, 255);
  text-align: center;
}

.img-cover{
  border-radius: 10px;
  margin: auto;
    display: block;
   
}

.audio{
margin: auto;
  display: block;
width: 260px;
  height: 48px;

}


.inform-all-releases{
  color: white;
  margin: 20px;
  text-align: center;
}

/*releases*/


/*footer*/

.footer-container{
 border-top: 2px solid rgb(255, 25, 0);
background-color: black;
}

.footer-menu{
display: flex;
  justify-content: center;
    gap: 30px;
    padding-top: 40px;
  
 

    }



.address-info{
  display: flex;
  justify-content: center;

}

.social-list{

    gap: 30px;
    padding: 20px 10px;
}

.footer-button{
  color: white;
margin-top: 20px;
}





.social-logo {
 width: 100px;
  fill: rgb(255, 255, 255);
  transition: 1.05s;
  
}

.social-logo:hover {
  scale: 1.14;
  transition: 1.05s;
}

.hover-beatport:hover{
  fill: rgb(1, 255, 149);
}

.hover-spotify:hover {
  fill: rgb(30, 215, 96);
}

.hover-apple:hover {
  fill: rgb(251, 63, 89);
}

.hover-youtube:hover {
  fill: rgb(255, 0, 0);
}

.copyright{
  color: white;
    display: flex;
      justify-content: center;
      padding-top: 4px;
      padding-bottom: 36px;
      font-size: 16px;
}

/*footer*/


